<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <script src="/scripts/scripfrip.js" charset="utf-8"></script>
    <script type="text/javascript">
    var url = 'https://api.imgur.com/3/gallery/search/q=' + '<%= search %>';
    var auth = '<%= imgCliID %>';
    $.ajax({
      url: url,
      type: 'GET',
      headers: {
        Authorization: 'Client-ID ' + auth,
        Accept: 'application/json'
      },
      success: function(result) {
        //var description = result.data.description;
        console.log(result);
      }
    });
    </script>
  </head>
  <body>
    <div class='jsonResponse'>

    </div>
  </body>
</html>
